.container{
    color: rgb(19, 19, 19);
    background-color: rgb(82, 128, 180);
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 40%;
    box-shadow: 5px 10px rgb(162, 186, 212);
    margin: 0 auto;
    font-family: Arial, Helvetica, Verdana, sans-serif 

}
h3
{
    color: rgb(48, 45, 45);
    margin: 0 auto;
    margin-top: 50px;
}
.button {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 25px;
    width: 20%;
    margin: 0 auto;
    margin-top: 50px;
   
  }